<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="url" value="https://bittrex.com/Market/Index?MarketName=BTC-ETH" />-->
    <add key="url1" value="http://my.georgianbakers.ge"/>
    <add key="url2" value="http://my.coffeesta.ge"/>

    <add key="logsPath" value="\Logs" />
  </appSettings>
</configuration>